<h5>Bonus Conditions</h5>

<ul class="list-unstyled">
    @foreach (var bonus in BonusConditions)
    {
        var checkboxId = $"bonus-{bonus.Key}";

        <li>
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       id="@checkboxId"
                       data-testid="bonus-checkbox"
                       data-bonus-key="@bonus.Key"
                       checked="@SelectedBonusKeys.Contains(bonus.Key)"
                       @onchange="e => OnChanged(bonus.Key, e)" />

                <label class="form-check-label" for="@checkboxId">
                    @bonus.Description
                </label>
            </div>
        </li>
    }
</ul>